<!DOCTYPE html>
<title>GodGame Video Card Generator</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,400,1,0"
/>
<link
  rel="icon"
  href="{{ url_for('static', filename='favicons/favicon.ico') }}"
  sizes="any"
/>
<link
  rel="icon"
  href="{{ url_for('static', filename='favicons/favicon.svg') }}"
  type="image/svg+xml"
/>

{% block scripts %}{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} 
{% endwith %}

{% block body %}{% endblock %}